
  <div class="oj-text-color-pimary oj-typography-heading-xl oj-typography-bold">Actividad</div>
  <div class="oj-text-color-disabled oj-typography-body-lg oj-typography-semi-bold">Al terminar este ejercicio, debajo de cada subtítulo deberá aparecer el fragmento correcto del Array dependiendo de que método se está solicitando</div>



</oj-form-layout>
<div class="oj-panel demo-mypanel oj-flex-item oj-sm-padding-2x-horizontal">
  <div class="oj-typography-heading-sm oj-typography-semi-bold">Array Original </div>
  <oj-bind-text value="[[Array]]"> </oj-bind-text>
</div>

<oj-form-layout direction="row" max-columns="4">
<div class="oj-panel demo-mypanel oj-flex-item oj-sm-padding-2x-horizontal">
  <div class="oj-typography-body-lg oj-typography-semi-bold">Valores del Array original elevados al cuadrado </div>
  <oj-bind-text value="[[map]]"> </oj-bind-text>
</div>

<div class="oj-panel demo-mypanel oj-flex-item oj-sm-padding-2x-horizontal">
  <div class="oj-typography-body-lg oj-typography-semi-bold">Valores del Array Original mayores que 3 y menores de 8 </div>
  <oj-bind-text value="[[find_]]"> </oj-bind-text>
</div>

<div class="oj-panel demo-mypanel oj-flex-item oj-sm-padding-2x-horizontal">
  <div class="oj-typography-body-lg oj-typography-semi-bold">Mostrar el primer elemento del Array original mayor que 6</div>
  <oj-bind-text value="[[filter]]"> </oj-bind-text>
</div>

<div class="oj-panel demo-mypanel oj-flex-item oj-sm-padding-2x-horizontal">
  <div class="oj-typography-body-lg oj-typography-semi-bold">Mostrar los valores del Array reordenados de Z-A</div>
  <oj-bind-text value="[[sort]]"> </oj-bind-text>
</div>
 
<div class="oj-panel demo-mypanel oj-flex-item oj-sm-padding-2x-horizontal">
  <div class="oj-typography-body-lg oj-typography-semi-bold">Mostrar "True" o "False" dependiendo de si en el Array original existe un dato menor a 0</div>
  <oj-bind-text value="[[some]]"> </oj-bind-text>
</div>

<div class="oj-panel demo-mypanel oj-flex-item oj-sm-padding-2x-horizontal">
  <div class="oj-typography-body-lg oj-typography-semi-bold">Mostrar "True" o "False" dependiendo de si en el Array TODOS los elementos son mayores que 0</div>
  <oj-bind-text value="[[every]]"> </oj-bind-text>
</div>

<div class="oj-panel demo-mypanel oj-flex-item oj-sm-padding-2x-horizontal">
  <div class="oj-typography-body-lg oj-typography-semi-bold">Mostrar el Array original unido a un Array de valores [11,12,13,14,15]</div>
  <oj-bind-text value="[[concat]]"> </oj-bind-text>
</div>

<div class="oj-panel demo-mypanel oj-flex-item oj-sm-padding-2x-horizontal">
  <div class="oj-typography-body-lg oj-typography-semi-bold">Mostrar "True" o "False" dpendiendo de si en el Array se incluye el elemento "0" </div>
  <oj-bind-text value="[[includes]]"> </oj-bind-text>
</div>

<div class="oj-panel demo-mypanel oj-flex-item oj-sm-padding-2x-horizontal">
  <div class="oj-typography-body-lg oj-typography-semi-bold">Mostrar el Array original unido en un String mediante "-" </div>
  <oj-bind-text value="[[join]]"> </oj-bind-text>
</div>

<div class="oj-panel demo-mypanel oj-flex-item oj-sm-padding-2x-horizontal">
  <div class="oj-typography-body-lg oj-typography-semi-bold"> Mostrar la reducción del Array original en la suma de todos los valores originales</div>
  
  <oj-bind-text value="[[reduce]]"> </oj-bind-text>
</div>

<div class="oj-panel demo-mypanel oj-flex-item oj-sm-padding-2x-horizontal">
  <div class="oj-typography-body-lg oj-typography-semi-bold">Mostrar el índice del valor "9" del Array Original </div>
  
  <oj-bind-text value="[[indexOf]]"> </oj-bind-text>
</div>

<div class="oj-panel demo-mypanel oj-flex-item oj-sm-padding-2x-horizontal">
  <div class="oj-typography-body-lg oj-typography-semi-bold"> Mostrar el Array llenado con el símbolo "*" desde la posición 2 hasta la posición 4</div>
  <oj-bind-text value="[[fill]]"> </oj-bind-text>
</div>

<div class="oj-panel demo-mypanel oj-flex-item oj-sm-padding-2x-horizontal">
  <div class="oj-typography-body-lg oj-typography-semi-bold">Mostrar el Array añadiendo el valor "*" al final del Array </div>
  <oj-bind-text value="[[push]]"> </oj-bind-text>
</div>

<div class="oj-panel demo-mypanel oj-flex-item oj-sm-padding-2x-horizontal">
  <div class="oj-typography-body-lg oj-typography-semi-bold">Mostrar el Array original eliminando el último elemento </div>
  <oj-bind-text value="[[pop]]"> </oj-bind-text>
</div>

<div class="oj-panel demo-mypanel oj-flex-item oj-sm-padding-2x-horizontal">
  <div class="oj-typography-body-lg oj-typography-semi-bold"> Mostrar el Array original eliminando el primer elemento</div>
  <oj-bind-text value="[[shift]]"> </oj-bind-text>
</div>

<div class="oj-panel demo-mypanel oj-flex-item oj-sm-padding-2x-horizontal">
  <div class="oj-typography-body-lg oj-typography-semi-bold"> Mostrar el Array original añadiendo el valor "*" al inicio del Array</div>
  <oj-bind-text value="[[unshift]]"> </oj-bind-text>
</div>
</oj-form-layout>

</div>